/* Landing page css */
:root{
  --primary-color: #C58179;
  --primary-color-hover: #F6CEC9;
  --secondary-color: #E1B7B1;
  --secondary-color-hover: #F1CAC4;
  --light-color: #f4f4f4;

  --white: #fff;
  --bkColor: #252529;
}

/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Yeseva+One&display=swap');
font-family: 'Courgette', cursive;
font-family: 'Yeseva One'; */

/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
}
html, body{
  width:100%;
overflow-x:hidden;
}
body{
  min-height: 100vh;
  margin: 0;
  color: #252529;
  line-height: 1.6;

}

/* Section */
.section{
  padding: 2rem 0;
}
.section-main{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
.section-main h2{
  font-family: 'Yeseva One';
}
.border-underline{
  font-family: 'Courgette',sans-serif;
  

}
#purpose-img{
  width: 20%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 32, 60, 0.499);
  mix-blend-mode: overlay;
}
.section-head{
  font-size: 2.5rem;
  margin: 0;
font-family: 'Courgette', Courier;

}
.section h3{
  font-size: 2rem;
  font-family: 'Yeseva One', cursive;

}

#purpose{
  background-image: linear-gradient(to top, #D6A1A5 95%, #AF767A 100%);
  height: 930px;
}
#purpose .section-head{
  margin-top: 70px;
  padding-top: 70px;
  color: #000;
  font-family: 'Courgette', cursive;
  font-size:3rem;
}
#purpose .line{
  background: linear-gradient(to right, white 100%, white 100%);
  position: absolute;
  align-self: flex-start;
  width: 100%;
  height: 2px;
  right: 0;
  margin-top: 40px;
}
#purpose .line1{
  background: linear-gradient(to right, white 100%, white 100%);
  position: absolute;
  align-self: flex-start;
  height: 120%;
  width: 2px;
  right: 30%;
}
#purpose .line2{
  background: linear-gradient(to right, white 100%, white 100%);
  position: absolute;
  align-self: flex-start;
  height: 64%;
  width: 2px;
  right: 35%;
  margin-top: 10%;
}
#purpose-text{
  max-width: 60%;
  color: #000000;
  padding-top: 90px;
  font-family: 'Yeseva One';

}

#information{
  background-image: linear-gradient(to top, #AF767A 95%, #724346 100%);
  height: 1400px;
  font-family: 'Yeseva One';

}
#information .section-head{
  margin-top: 70px;
  padding-top: 70px;
  color: var(--white);
  font-family: 'Courgette', cursive;
  font-size:3rem;

}
#information .line{
  background: linear-gradient(to right, white 100%, white 100%);
  position: absolute;
  align-self: flex-start;
  width: 100%;
  height: 2px;
  right: 0;
  margin-top: 40px;
}
#information .line1{
  background: linear-gradient(to right, white 100%, white 100%);
  position: absolute;
  align-self: flex-start;
  height: 30%;
  width: 2px;
  left: 2%;
  margin-top: 100px;
}
#information .line2{
  background: linear-gradient(to right, white 100%, white 100%);
  position: absolute;
  align-self: flex-start;
  height: 60%;
  width: 2px;
  right: 20%;
  
}

#activity{
  background-image: linear-gradient(to top, #724346 80%, #000000 100%);
  
}

#activity h2{
  margin-top: 40px;
  font-family: 'Courgette', cursive;
  font-size:3rem;
  color: var(--white);

}

#activity p{
  color: var(--white);
  font-family: 'Yeseva One';
  
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  grid-gap: 40px;
}
.info-grid .grid-bk{
  background: var(--primary-color);
  padding: 20px 40px;
  height:inherit;
  width: 100% inherit;
}
.info-grid img{
  width: 100%;
  margin-bottom: 20px;
  transition: 0.2s;
}
.info-grid img:hover{
  width: 100%;
  margin-bottom: 20px;
  transform:scale(1.01);
}

.info-grid h3, a{
  color: var(--white);
}
.info-grid h3{
  font-size: 1.2rem;
}
.info-grid a{
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.3s;
}
.info-grid i{
  transition: 0.3s;
  font-style: normal;
}
.info-grid a:hover{
  color:#9698ff;
}
.info-grid a:hover i{
  color:#9698ff;
  margin-left: 10px;
}

#emergencyContact{
  background-image: linear-gradient(to top, #ffd9d9 70%, #D6A1A5 100%);
  height:700px;
  font-family: 'Yeseva One';

}

#emergencyContact h2, .emergencyContact p{
  color: #000000;
  font-family: 'Yeseva One';

}
#emergencyContact .section-head{
  margin-top: 50px;
  font-family: 'Courgette', cursive;
  font-size:3rem;

}
#emergencyContact tr, #emergencyContact td, #emergencyContact thead tr th{
  padding: 5px;
  border-width: 2px;
  font-family: 'Yeseva One';

}
/* SECTION END */

/* SHOWCASE */
#showcase{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#showcase .container{
  margin-top: 20vh;
  color: var(--white);
}

#showcase h1{
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--white);
  margin-left: 3%;
}

#showcase h2{
  font-size: 2rem;
  margin-left: 3%;

}
video{
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  /* opacity: 0.8; */
}

ul{
  border-width: 1px;
  color: var(--white);
}

/* SHOWCASE END */

/* Utility Classes */
.container{
  margin: 0 auto;
  /* padding: 0 3rem; */
}
.lead{
  font-size: 1.3rem;
}

.mb{
  margin-bottom: 1rem;

}
.mt{
  margin-top: 1rem;
}

.text-center{
  text-align: center;
}

.border-underline{
  /* display: inline; */
  max-width: 10%;
  min-width: 20%;
  border-bottom: 2px solid var(--white);
  border-color: var(--white);
  z-index: 10;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
/* UTILITY CLASSES END */

/* Buttons */
.btn{
    padding: 1rem;
    color: var(--white);
    display: inline-block;
}

.btn-primary{
    background: var(--primary-color);
    transition: 0.5s;
}
.btn-primary:hover{
    background: var(--primary-color-hover);
}

.btn-secondary{
    background: var(--secondary-color);
    transition: 0.5s;
}
.btn-secondary:hover{
    background: var(--secondary-color-hover);
}
/* BUTTONS END */

/* some navigation bar css */
.dropdown-item{
  transition: 0.3s;
}
.nav-link:hover{
  background: #00000076;
  border-radius: 3px;
}
.dropdown-item:hover{
  background: #00000092;
}

@media screen and (max-width: 950px) {
  #information{
    height: 1000px;
  }
  #emergencyContact .info-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  
  }
}

@media screen and (max-width: 800px) {
    .hide-on-small{
        display: none;
    }
    #showcase{
        height: 100vh;
    }
    #showcase .container{
        margin-top: 35vh;
        background-color: #00000076;
    }
    #showcase h1{
        font-size: 3rem;
        margin-bottom: 0;
    }
    
    #showcase h2{
        font-size: 1.5rem;
    }
    #information{
      height: 1400px;
    }
    #information .section-head{
      margin-left: 3%;
    }

    .info-grid {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      grid-gap: 20px;
    }
    #purpose-img{
      display: none;
    }
    #purpose .line1{
      display: none;
    }
    #purpose .line2{
      display: none;
    }
    #purpose-text{
      width: 80%;
      max-width: 90%;
      color: var(--light-color);
      padding-top: 90px;
    }
    #purpose{
      background-image: linear-gradient(to top, #D6A1A5 95%, #AF767A 100%);
      height: 1000px;
    }
}
