/* This style is used for branch pages in information */
:root{
    --primary-color: #C58179;
    --primary-color-hover: #F6CEC9;
    --secondary-color: #E1B7B1;
    --secondary-color-hover: #F1CAC4;
    --light-color: #f4f4f4;
  
    --white: #fff;
    --bkColor: #252529;
  }
    
  /* Googlefont Poppins CDN Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }
  html, body{
    width:100%;
  overflow-x:hidden;
  }
  body{
      margin: 0;
      color: #252529;
      line-height: 1.6;
      
  
  }
  p{
    color: black;
  }
    
    /* Section */
    .section{
      padding: 2rem 0;
    }
    .section-main{
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
    }
    .section-head{
      font-size: 2.5rem;
      margin: 0;
      margin-top: 70px;
    }
    .section h3{
      font-size: 2rem;
      
    }
  /* Utility Classes */
  .container{
      /* max-width: 1180px; */
      /* text-align: center; */
      margin: 0 auto;
      padding: 0 3rem;
    }
    .lead{
      font-size: 1.3rem;
    }
    
    .mb{
      margin-bottom: 1rem;
    
    }
    .mt{
      margin-top: 1rem;
    }
    
    .text-center{
      text-align: center;
    }
    
    .border-underline{
      /* display: inline; */
      max-width: 10%;
      min-width: 20%;
      border-bottom: 2px solid white;
      border-color: #fff;
      z-index: 10;
      padding-bottom: 20px;
      margin-bottom: 15px;
    }
    form,
    textarea {
      font-size: 1rem;
    }
    
    button {
      display: block;
      font-size: 1.2rem;
      padding: 0.5em 1em;
      border: none;
      background-color: aquamarine;
      color: #0a2472;
      font-family: 'Space Mono', monospace;
    }
    .btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}
/* Project Starts Here */

/* Journal Entry Section */

/* Title */

.entry-text-title {
    width: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
  }
  
  .entry-text-title:focus {
    outline-color: lightcoral;
    font-family: 'Space Mono', monospace;
    color: lightcoral;
    font-size: 1rem;
  }
  
  .entry-text-title::placeholder {
    color: lightcoral;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
  }
  
  .entry-text-title::-ms-value {
    color: lightcoral;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
  }
  
  /* Text Box */
  
  .container-row-journal {
    display: flex;
    justify-content: center;
  }
  
  .entry-form {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .journal-label {
    display: block;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .entry-text-box {
    width: 100%;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
  }
  
  @media (min-width: 769px) {
    .entry-text-box {
      width: 40em;
      height: 20em;
      margin: 1em auto;
      padding: 1em;
      border-radius: 2px;
      border: unset;
      background-color: lightgoldenrodyellow;
      font-family: 'Space Mono', monospace;
    }
  }
  
  .entry-text-box:focus {
    outline-color: lightcoral;
    font-family: 'Space Mono', monospace;
    color: lightcoral;
    font-size: 1rem;
  }
  
  .entry-text-box::placeholder {
    color: lightcoral;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
  }
  
  .entry-submit-btn {
    margin: 0;
  }
  
  /* Journal Results Section */
  
  .sectionEntryResults {
    width: 100%;
    margin: 0 auto;
  }
  
  .entryResultRow {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 1em auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .single-entry-div {
    max-width: 100%;
  
    margin: 1em auto;
    padding: 1em 1em;
  }
  
  .single-entry-date {
    background-color: lightgoldenrodyellow;
    width: 100%;
  }
  
  .heading-results {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: lightgoldenrodyellow;
  }
  