:root{
    --primary-color: #b90415;
    --primary-color-hover: #b34e58;
    --secondary-color: #0c0067;
    --secondary-color-hover: #5c4fc1;
    --light-color: #f4f4f4;

    --white: #fff;
    --bkColor: #252529
}

/* SHOWCASE & NAVIGATION BAR */
#showcase{
    margin: 0;
    padding: 0;
    /* background: url('./images/showcase.jpg') no-repeat center/cover; */
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

#showcase .container{
    margin-top: 25vh;
}

#showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
}

#showcase h2{
    font-size: 2rem;
}
/* SHOWCASE & NAVIGATION BAR end */
